* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set full height to body and html */
html,
body {
  height: 100%;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #659f85;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}


/* Provider Section */

.provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background: url("../public/logos/provider-background-mobile.png") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.provider h1 {
  color: #659f85;
  margin-top: 10vh;
  align-self: self-start;
  margin-left: 30px;
}

.provider img {
  margin-top: 20px;
}

.provider p {
  margin-top: 1rem;
  align-self: self-start;
  margin-left: 30px;
  margin-right: 30px;
}

.provider .call-to-action {
  background-color: #659f85;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px 0 70px;
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

@media (min-width: 400px) {
  .provider {
    background: url("../public/logos/provider-background-wide-mobile.png")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 600px) {
  .provider {
    background: url("../public/logos/provider-background-extra-wide-mobile.png")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 810px) {
  /* Your CSS rules for screens larger than 600px go here */
  .main {
    background: url("../public/logos/desktop-dark-bg.png") no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .call-to-action {
    position: relative;
    top: -10rem;
  }

  .footer {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .provider {
    background: url("../public/logos/provider-background.png") no-repeat center
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
