* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set full height to body and html */
html,
body {
  height: 100%;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #659f85;
}

.header {
  background-color: #659f85;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.25rem 2rem 0rem;
  position: fixed;
  width: 100%;
  /* padding-right: 1.25rem; */
}

.nav-logo {
  width: 50vw;
  max-width: 14rem;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2.5rem;
  height: 2.3rem;
  border: 1px solid #50816b;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
}

.bar {
  width: 100%;
  height: 0.12rem;
  background-color: white;
  transition: all 0.3s ease;
}

.main {
  background-color: black;
  background: url("../public/logos/mobile-dark-bg.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.inner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -30px;
}
.call-to-action {
  background-color: #659f85;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 20px 40px;
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.call-to-action:hover {
  background-color: #50816b;
}

a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #659f85;
  height: 5vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1rem;
}

.footer-logo {
  width: 40vw;
  max-width: 10.75rem;
}

@media (min-width: 810px) {
  /* Your CSS rules for screens larger than 600px go here */
  .main {
    background: url("../public/logos/desktop-dark-bg.png") no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .call-to-action {
    position: relative;
    top: -10rem;
  }

  .footer {
    display: none;
  }

  .nav-button {
    display: none;
  }
}
